
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
.header-section {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #FE6F27;
    margin: 10px;
    text-align: center;
    flex-wrap: wrap;
    border:none;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;

}

.img-div{
    margin-left: 10px;
    width:80px;
    /* height:100px; */
}
.logo{
    width: 100%;
    /* height : 100%; */
    border-radius: 50%;
}
.logo:hover{
    transform: scale(0.95);
    transition: 0.2s ease-in-out;
}
.nav-list{
    display: flex;
    text-align: center;
}
.nav-list > .item{
    margin: 20px;
    list-style: none;
    font-size: larger;
    color: black;
    width: 70px;
    height: 25px;
    border-radius: 10px;
}
.nav-list >.item:hover{
    transform: scale(1.08);
    background-color: #2F2F2F;
    color:aliceblue;
}
.list-item-link{
    text-decoration: none;
    color:black;
}
.list-item-link:hover{
    color: aliceblue;
}
.wrapperForListAndLoginbtn{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    height : 340px;
    border: none;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    text-decoration: none;
    z-index: 1;
}
.cardLink{
    text-decoration: none;
    color: black;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.card > .img{
    width: 90%;
    height: 200px;
}
.nameRestaurant{
    font-size: larger;
}
.cuisine-names{
    font-size:medium;
}
.rating{
    background-color: rgb(12, 183, 12);
    width: 70px;
    border: none;
    border-radius: 5px;
    font-size: small;
}
.low-rating{
    background-color: rgb(255, 34, 34);
}
.card > .img >.img-card{
    width:100%;
    height: 100%;
    border-radius: 10px;
}
.searchBox{
    display: flex;
    justify-content: center;
}
.input-area{
    margin-right: 5px;
    padding: 15px;
    border-radius: 10px;
    border-style: none;
    background-color:#2F2F2F;
    color: whitesmoke;
    font-weight: bold;
    width:40%;
}
.search-btn{
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FE6F27;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.search-btn:hover{
    cursor: pointer;
    background-color:#2F2F2F;
    color:whitesmoke;
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.footer-section{
    text-align: center;
    background-color: #FE6F27;
    padding: 20px 0;
    margin: 10px;
    border:none;
    border-radius: 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.text-a{
    text-decoration: none;
    
}
.text-a:hover{
    color:white;
}

.login-logout-btn{
    border-style: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2F2F2F;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color:white;
    margin-right:10px;
    height: 50px;
}

.login-logout-btn:hover{
    cursor: pointer;
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.shimmer-card{
    height: 331px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(243, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.shimmer-img{
    height: 200px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(222, 219, 219);

}
.shimmer-card-text{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 90%;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(243, 239, 239);
}
.shimmer-card-text >.shimmer-dummy-text{
    width: 90%;
    height: 20px;
    background-color: rgb(222, 219, 219);
    margin:10px;
}
.container-menu{
    width: 100%;
    height: 100%;
}
.restaurant-banner{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
}
.img-container{
    width:300px;
    height: 200px;
    margin-top:50px;
}
.img-restaurant{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}
.restaurant-summary{
    margin-top:50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    color:white;
    flex-wrap: wrap;
}
.cuisine-item {
    color: #ada6a6;
}

.restaurant-rating-details{
    width: 350px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.line-span{
    width: 2.5px;
    height: 20px;
    background-color: white;
}

.menu-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}

.description-menu{
    width: 35%;
}
.img-menu-div{
    width: 100px;
    height: 100px;
    margin-left:100px
}
.img-item{
    width: 100%;
}
.description-item {
    color: #ada6a6;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr{
    width: 50%;
    margin: auto;
    margin-top:20px;
}
.about-container{
    display: flex;
    border: 1 px solid red;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.about-left{
    font-size: 30px;

}
.span-text{
    background-color: #FE6F27;
    color: whitesmoke;
    border-radius: 10px;
}
.quote{
    margin-top: 10px;
}
.about-right{
    margin-left: 70px;
    width:300px;
    height: 250px;

}
.about-burger{
    width: 100%;
}
.french-fries{
    width: 30px;
    height: 30px;
}
/* .err-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#e5dede;

}
.err-img-div{
    width: 600px;
    height: 400px;
} 
.err-img{ 
    width: 100%;
    height:100%;
}
.err-message-div{
    margin-top: 10px;
} */
.err-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #e5dede;
}

.err-img-div {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
} 

.err-img { 
    max-width: 100%;
    max-height: 100%;
}

.err-message-div {
    margin-top: 10px;
    text-align: center;
}

a{
text-decoration: none;
color: black;
}
.back-home{
background-color: #FE6F27;
padding: 10px;
border-radius: 5px;
width: 200px;
margin-left: 45px;
}

.parent-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-profile{
    border: none;
    background-color:#2F2F2F;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
.profile-class-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#e5dede;
    width: 500px;
    height: 500px;
}
#profile-img{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    /* background-color: #FE6F27; */
}
#my-profile-img{
width: 100%;
height: 100%;
border-radius: 50%;
}
.profileDetail{
    margin-top: 50px;
}